<html>
	<head>
		<title>Edit Song</title>
		<link rel="stylesheet" href="/css/materialize.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="section">
					<a href=<%='/songs/'+song._id%>>Back to song</a>
				</div>
				<div class="col s6">
					<h2>Edit Track</h2>
					<form action=<%='/songs/'+song._id%> method='post'>
						<div class="input-field">
							Song Title:
							<% console.log(song)%>
							<input type="text" value='<%=song.title%>' name='title'>
						</div>
						<div class="input-field">
							Artist:
							<input type="text" value='<%=song.artist%>' name='artist'>
						</div>
						<div class="input-field">
							Album:
							<input type="text" value='<%=song.album%>' name='album'>
						</div>
						<div class="input-field">
							Genre:
							<input type="text" value='<%=song.genre%>' name='genre'>
						</div>
						<div class="section">
							<button type='submit'>Save changes</button>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col s6 offset-s6" style='text-align:right'>
					<div class="section">
						<a href=<%='/songs/'+song._id+'/destroy'%>>Delete Song</a>
					</div>				
				</div>
			</div>
		</div>
	</body>
</html>